body, html {
	font-family:Tahoma, Arial;
	padding:0;
}

body {
	margin: 0 0;
	padding:0;
}

#toc {
    display:block; 
    padding:0px 20px 0px 20px;
    position:fixed;
    left:0;
    top:0;
}

#contents {
    display:block; 
    width: 800px; 
    margin:0 auto;
}

.toc_ul {
    padding-left:10px;
    margin:5px;
}

.toc_li {
    padding-left:0px ;
    margin-left:0px ;
}